.container {
  /* border: 1px solid black; */
  width: 60%;
  margin: 0 auto;
  /* border-radius: 10px; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

th, td {
  width: 20%;
}

td {
  text-align: center;
}